<div class="overlay"></div>
<div class="intrude-less">
    <header id="header" class="inner">
        <%- partial('_partial/jquery') %>
        <a href="/" class="profilepic">
            <% if (theme.animate){ %>
            <img lazy-src="<%=theme.avatar%>" class="js-avatar">
            <%}else{%>
            <img src="<%=theme.avatar%>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
            <%}%>
        </a>
        <hgroup>
          <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
        </hgroup>
        <% if (theme.subtitle){ %>
        <p class="header-subtitle"><%=theme.subtitle%></p>
        <%}%>
        <% if (theme.search_box){ %>
            <form>
                <input type="text" class="st-default-search-input search" id="local-search-input" placeholder="搜索一下" autocomplete="off">
            </form>
          <div id="local-search-result">
           </div>
        <%}%>
        <% if (theme.search_box){ %>
            <script type="text/javascript">
                (function() {
                    'use strict';
                    function getMatchData(keyword, data) {
                        var matchData = [];
                        for(var i =0;i<data.length;i++){
                            if(data[i].title.toLowerCase().indexOf(keyword)>=0) 
                                matchData.push(data[i])
                        }
                        return matchData;
                    }
                    var $input = $('#local-search-input');
                    var $resultContent = $('#local-search-result');
                    $input.keyup(function(){
                        $.ajax({
                            url: '/search.json',
                            dataType: "json",
                            success: function( json ) {
                                var str='<ul class=\"search-result-list\">';                
                                var keyword = $input.val().trim().toLowerCase();
                                $resultContent.innerHTML = "";
                                if ($input.val().trim().length <= 0) {
                                    $resultContent.empty();
                                    $('#switch-area').show();
                                    return;
                                }
                                var results = getMatchData(keyword, json);
                                if(results.length === 0){
                                    $resultContent.empty();
                                    $('#switch-area').show();
                                    return;
                                } 
                                for(var i =0; i<results.length; i++){
                                    str += "<li><a href='"+ results[i].url +"' class='search-result-title'>"+ results[i].title +"</a></li>";
                                }
                                str += "</ul>";
                                $resultContent.empty();
                                $resultContent.append(str);
                                $('#switch-area').hide();
                            }
                        });
                    });
                })();
            </script>
        <%}%>
        <%if(theme.tagcloud){%>
            <div id="switch-btn" class="switch-btn">
                <div class="icon">
                    <div class="icon-ctn">
                        <div class="icon-wrap icon-house" data-idx="0">
                            <div class="birdhouse"></div>
                            <div class="birdhouse_holes"></div>
                        </div>
                        <div class="icon-wrap icon-ribbon hide" data-idx="1">
                            <div class="ribbon"></div>
                        </div>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <div class="icon-wrap icon-link hide" data-idx="2">
                            <div class="loopback_l"></div>
                            <div class="loopback_r"></div>
                        </div>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <div class="icon-wrap icon-me hide" data-idx="3">
                            <div class="user"></div>
                            <div class="shoulder"></div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <div class="tips-box hide">
                    <div class="tips-arrow"></div>
                    <ul class="tips-inner">
                        <li>菜单</li>
                        <li>标签</li>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <li>友情链接</li>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <li>关于我</li>
                        <%}%>
                    </ul>
                </div>
            </div>
        <%}%>
        <div id="switch-area" class="switch-area">
            <div class="switch-wrap">
                <section class="switch-part switch-part1">
                    <nav class="header-menu">
                        <ul>
                        <% for (var i in theme.menu){ %>
                            <li><a  href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </nav>
                    <nav class="header-nav">
                        <ul class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="fl <%= i %>"  target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><%= i %></a>
                            <%}%>
                        </ul>
                    </nav>
                </section>
                <%if(theme.tagcloud){%>
                <section class="switch-part switch-part2">
                    <div class="widget tagcloud" id="js-tagcloud">
                        <%- tagcloud() %>
                    </div>
                </section>
                <%}%>
                <%if(theme.friends && theme.friends.length != 0){%>
                <section class="switch-part switch-part3">
                    <div id="js-friends">
                    <% for (var i in theme.friends){ %>
                      <a target="_blank"  class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
                    <% } %>
                    </div>
                </section>
                <%}%>
                <%if(theme.aboutme){%>
                <%if(!theme.friends){%>
                <section class="switch-part switch-part3">
                <%}else{%>
                <section class="switch-part switch-part4">
                <%}%>
                    <div id="js-aboutme"><%=theme.aboutme%></div>
                </section>
                <%}%>
            </div>
        </div>
    </header>
</div>
