<style>
    .article-meta {
        display: none;
    }
    #container .article .article-title {
        padding-right: 0;
    }
    .article-header {
        padding: 0;
        padding-top: 26px;
        border-left: none;
        text-align: center;
    }
    .article-header:hover {
        border-left: none;
    }
    .article-title {
        font-size: 1.6em
    }
    .article-meta {
        display: none;
    }
    .article-entry hr {
        margin: 0;
    }
    #container .article-info-post.article-info {
      display: none;
      }
    #container .article .article-title {
    padding: 0;
    }
</style>

<% if (page.path === "tags/index.html"){ %>
    <!-- Tag Cloud Page -->
    <hr>
    <br>
    <%- list_categories({
        depth: 1,
    }) %>

    <p class="count"></p>
    <div class="tags">
        <%- tagcloud({
            min_font: 16,
            max_font: 35,
            amount: 999,
            color: true,
            start_color: 'gray',
            end_color: 'white'
        }) %>
    </div>
    <style>
        .category-list li{
            display: inline-block;
            margin: 0 1em .5em 0;
            padding: 4px;
            border: 1px solid lightgray;
            font-size: 1.2em;
        }
        .category-list a {
            color: gray;
        }
        .category-list-item:hover a {
            color: gray;
            text-decoration: none;
        }
        .category-list-count {
            margin-left: 5px;
            font-size: .9em;
        }
        .article-entry ul li:before{
            display: none;
        }
        .article-inner  {
            text-align: center;
        }
        .tags {
            max-width: 40em;
            margin: 2em auto;
            margin-top: 0em;
        }
        .tags a {
            margin-right: 1em;
            line-height: 65px;
            border-bottom: 1px solid gray;
            white-space: nowrap;
        }
        .tags a:hover {
            border-bottom: 2px solid black;
            text-decoration: none;
            font-style: italic;
        }
        #count > span {
            margin: auto .2em;
            font-weight: bold;
        }
    </style>

    <!-- Count tags and categories -->

    <%- partial('_partial/jquery') %>
    <p id="count">
            共计<span><script>document.write($(".tags > a").length)</script></span>个标签。
    </p>
    <script>
        $('#count').appendTo('.count');
    </script>

<% } %>
